{% extends "layout.html.twig" %}

{% block javascripts %}
<script>
    $(function () {
        $('#runsTable').DataTable({
            "paging": true,
            "lengthChange": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": true
        });
    });
</script>
{% endblock %}

{% block content %}
<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Collected Profiles</h3>
                </div>
                <div class="box-body">
                    <table id="runsTable" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>RequestId</th>
                            <th>Timestamp</th>
                            <th>CPU</th>
                            <th>Wall Time</th>
                            <th>Peak Memory Usage</th>
                            <th>URL</th>
                            <th>Simplified URL</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for run in runs %}
                            <tr>
                                <td>{{ run.id }}</td>
                                <td>{{ run.timestamp }}</td>
                                <td>{{ run.cpu }}</td>
                                <td>{{ run.wt }}</td>
                                <td>{{ run.pmu }}</td>
                                <td>{{ run.url }}</td>
                                <td>{{ run.c_url }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>RequestId</th>
                            <th>Timestamp</th>
                            <th>CPU</th>
                            <th>Wall Time</th>
                            <th>Peak Memory Usage</th>
                            <th>URL</th>
                            <th>Simplified URL</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}